@* @model List<Order>

@{
    ViewData["Title"] = "All orders";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>List of all your orders</h4>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Items</th>
                    <th>Total</th>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <th>User</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td class="align-middle">@order.Id</td>
                        <td class="align-middle">
                            <ul style="list-style-type:none">
                                @foreach (var item in order.OrderItems)
                                {
                                    <li>
                                        <div class="alert alert-info" role="alert">
                                            <span class="badge bg-success">@item.Amount</span> [@item.Price.ToString("c")] - @item.Movie.Name
                                        </div>
                                    </li>
                                }
                            </ul>
                        </td>
                        <td class="align-middle">
                            @order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")
                        </td>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <td class="align-middle"> @order.User.FullName </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div> *@


@model List<Order>

@{
    ViewData["Title"] = "All Orders";
}

<div class="container">
    <h1 class="text-center mt-4 mb-4">List of All Orders</h1>

    <table class="table table-bordered table-hover">
        <thead class="bg-info text-white">
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Items</th>
                <th scope="col">Total</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <th scope="col">User</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="align-middle">@order.Id</td>
                    <td class="align-middle">
                        <ul class="list-unstyled">
                            @foreach (var item in order.OrderItems)
                            {
                                <li class="d-flex justify-content-between py-2">
                                    <div>
                                        <span class="badge bg-success me-2">@item.Amount</span>
                                        @item.Movie.Name
                                    </div>
                                    <span class="text-muted">@item.Price.ToString("c")</span>
                                </li>
                            }
                        </ul>
                    </td>
                    <td class="align-middle">@order.OrderItems.Select(m => m.Movie.Price * m.Amount).Sum().ToString("c")</td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <td class="align-middle">@order.User.FullName</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
